<f:be.container includeCssFiles="{0: '{f:uri.resource(path: \'Stylesheets/backend.css\')}'}" includeJsFiles="{0: '{f:uri.resource(path: \'JavaScripts/backend.js\')}'}">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:comment>
						<f:be.menus.actionMenu>
							<f:be.menus.actionMenuItem label="{f:translate(key: 'submoduleOverviewTitle')}" controller="Invitation" action="list" />
							<f:be.menus.actionMenuItem label="{f:translate(key: 'submoduleArchiveTitle')}" controller="Invitation" action="listArchive" />
							<f:be.menus.actionMenuItem label="{f:translate(key: 'submoduleCreatedInvitationsTitle')}" controller="Invitation" action="listCreatedInvitations" />
						</f:be.menus.actionMenu>
					</f:comment>
				</div>
				<div class="right">
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
					<f:comment><f:render section="iconButtons" /></f:comment>
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<h1>{f:translate(key: 'moduleTitle')}</h1>
				<f:flashMessages/>
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
